extends ./../layouts/course-04/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/course-03/product.css")

block content
    main
        if prods.length > 0
                .grid
                    each product in prods 
                        article.card.product-item 
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://images-na.ssl-images-amazon.com/images/I/51N-u8AsmdL._SX379_BO1,204,203,200_.jpg", alt="A Book")
                            div.card__content
                                h2.product__prive $19.99
                                p.product__description This is a great book!
                            .card__actions
                                button.btn Add to Cart
        else
            h2 No Products Found!